body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 20px;
    place-items: center;
}

.header {
    width: 420px;
    padding: 10px;
    background-color: blue;
    color: white;
    font-size: 20px;              
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 10px;        
    margin-bottom: 20px;
}


fieldset {
    width: 400px;
    padding: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: white;
}

legend {
    font-size: 18px;
    color: blue;
    text-align: center;
}

h3 {
    margin-bottom: 5px;
    color: black;
}

p {
    margin: 2px 0;
    font-size: 14px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type="button"] {
    width: 40%;
    padding: 10px 20px;
    background-color: blue;
    border: none;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

#filter {
    width: 40%;
    padding: 5px;
    background-color: black;
    border: none;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}


input[type="submit"]:hover {
    background-color: blue;
}
