body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 20px;
    place-items: center;
}

.header {
    width: 420px;
    padding: 10px;
    background-color: blue;
    color: white;
    font-size: 20px;              
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 10px;        
    margin-bottom: 20px;
}

fieldset {
    width: 400px;
    padding: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: white;
}

legend {
    font-size: 18px;
    color: blue;
    text-align: center;
}

label {
    font-weight: bold;
}

input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

input[type="submit"],
input[type="button"] {
    width: 40%;
    padding: 10px 20px;
    background-color: blue;
    border: none;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

p {
    margin: 0;
    color: red;
    font-size: 14px;
}
