body 
{
    font-family: Arial, sans-serif;
    padding: 20px;
}
  
.title 
{
    text-align: center;
}
  
.container 
{
    margin: 20px auto;
    width: 90%;
    max-width: 400px;
}
  
.dropdown 
{
    padding: 10px;
    width: 100%;
    max-width: 200px;
}
  
.info-box 
{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
}

.nav-buttons {
  text-align: center;
  margin-top: 30px;
}
.nav-buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
}

  