body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;          
    padding: 0;
    place-items: center;
}

.header {
    width: 100%;
    background: linear-gradient(90deg, blue, blue);
    color: white;
    padding: 25px 0;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

fieldset {
    width: 600px;
    padding: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: white;
}

legend {
    font-size: 18px;
    color: blue;
    text-align: center;
}

#event-booking {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid white;
}

input[type="submit"],
input[type="button"] {
    padding: 10px 20px;
    background-color: blue;
    border: none;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#continue {
    width: 100%;
    background-color: green;
    margin: 20px auto;
}

#content {
    width: 100%;
    background-color: green;
    margin: 20px auto;
}

.button {
    display: flex;
    text-align: center;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.button input[type="button"] {
    width: 200px;
}

p {
    margin: 0;
    color: red;
    font-size: 14px;
}
