body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 20px;
    place-items: center;
    text-align: center;
}

h2 {
    width: 620px;
    padding: 10px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin: 20px auto 15px auto;
}

input[type="text"],
input[type="email"] {
    width: 600px;
    padding: 8px;
    margin: 5px auto 10px auto;
    display: block;
    border: 1px solid black;
    border-radius: 4px;
}

button {
    width: 40%;
    padding: 10px 20px;
    background-color: blue;
    border: none;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
}

p {
    margin: 0;
    color: red;
    font-size: 14px;
    text-align: center;
}

.nav-buttons {
    text-align: center;
    margin-top: 30px;
}

.nav-buttons button {
    width: 60%;
    padding: 10px 20px;
    font-size: 14px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    display: block;
}

.nav-buttons button:hover {
    background-color: darkblue;
}
