body {
    font-family: Arial;
    padding: 20px;
    background: #fff5f5;
    text-align: center;
  }
  
  button {
    padding: 12px 24px;
    background-color: #ff6f61;
    color: white;
    border: none;
    font-size: 16px;
  }
  
  .nav-buttons {
  text-align: center;
  margin-top: 30px;
}

.nav-buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.nav-buttons button:hover {
  background-color: #555;
}
