body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 20px;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.theme {
  width: 620px;
  padding: 20px;
  background-color: white;
  border: 2px solid blue;
  border-radius: 10px;
  box-sizing: border-box;
}

.text {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: blue;
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.group {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
}

.group label {
  background-color: #0052cc;
  color: white;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  min-width: 50px;
}

.group input {
  flex-grow: 1;
  padding: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 0 4px 4px 0;
  font-family: Arial, sans-serif;
}

input[type="submit"],
input[type="button"] {
    width: 40%;
    padding: 10px 20px;
    background-color: blue;
    border: none;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: darkblue;
}

p {
  margin: 0;
  color: red;
  font-size: 14px;
  text-align: center;
}

p#valid-error,
p#email-error,
p#pass-error,
#error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
