/* join-waitlist.css */
body {
  font-family: Arial;
  padding: 20px;
  background: #6c85d0;
  text-align: center;
}

input, button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

.nav-buttons {
  text-align: center;
  margin-top: 30px;
}

.nav-buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}

.nav-buttons button:hover {
  background-color: #555;
}
