body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0f7fa;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .nav-buttons {
  text-align: center;
  margin-top: 30px;
}

.nav-buttons button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #004d40;
  color: white;
  border: none;
  border-radius: 5px;
}

.nav-buttons button:hover {
  background-color: #00695c;
}

  