body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;          
    padding: 0;
    place-items: center;
}

.header {
    width: 100%;
    background: linear-gradient(90deg, blue, blue);
    color: white;
    padding: 25px 0;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

fieldset {
    width: 600px;
    padding: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
}

legend {
    font-size: 18px;
    color: blue;
    text-align: center;
}

label {
    font-weight: bold;
}


input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}


select,
input[type="date"], input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="button"], input[type="submit"] {
    width: 32.7%;
    padding: 10px 10px;
    background-color: blue;
    border: none;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

p {
    margin: 0;
    color: red;
    font-size: 14px;
}

