.title {
  text-align: center;
  margin-top: 20px;
  color: #1d3c6a;
}

.dropdown {
  padding: 8px;
  font-size: 14px;
}

.search-panel {
  margin-top: 25px;
  text-align: center;
}

.search-panel input[type="text"] {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #4977a7;
  border-radius: 5px;
}

.filter-panel {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.filter-panel label {
  font-size: 14px;
  margin-right: 10px;
}

.results-list {
  margin-top: 20px;
  list-style: none;
  padding: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.results-list li {
  background-color: #f7faff;
  margin-bottom: 8px;
  padding: 10px;
  border: 1px solid #4977a7;
  border-radius: 5px;
  color: #01060b;
}

.nav-buttons {
  margin-top: 30px;
  text-align: center;
}

.nav-buttons button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
}
