body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;          
    padding: 0;
    place-items: center;
}

.header {
    width: 100%;
    background: linear-gradient(90deg, blue, blue);
    color: white;
    padding: 25px 0;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}

.fieldsets-container {
    display: flex;
    gap: 0px;
}

fieldset {
    padding: 20px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: white;
}

fieldset.profile {
    width: 450px;
}

fieldset.menu {
    width: 100px;
    display: inline-block;
}

legend {
    font-size: 18px;
    color: blue;
    text-align: center;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    display: block;
    margin-bottom: 15px;
    border-radius: 50%;
}

.avatar {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

p {
    margin: 10px 0;
    font-size: 16px;
}

.avatar{
    padding: 10px 20px;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.left  {
    padding: 10px 20px;
    background-color: blue;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.left:hover {
    background-color: darkblue;
}

.right  {
    width: 100%;
    padding: 5px 10px;
    background-color: green;
    border: none;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.right:hover {
    background-color: darkgreen;
}