<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Generator</title>
</head>
<body>
    <fieldset>
        <legend><b>GENERATE PROMO CODE</b></legend>
        <form onsubmit="return validate()">
            <label for="sponsor">Sponsor Name:</label><br>
            <input type="text" id="sponsor" name="sponsor"><br>
            <p id="sponsorerror"></p>

            <label for="discount">Discount (%):</label><br>
            <input type="number" id="discount" name="discount"><br>
            <p id="discounterror"></p>

            <label for="validity">Valid Until:</label><br>
            <input type="date" id="validity" name="validity"><br>
            <p id="validityerror"></p>

            <input type="submit" value="Generate Code">
        </form>
    </fieldset>
    
    <link rel="stylesheet" href="../CSS/Code_Generator.css">
    <script src="../JS/Code_Generator.js"></script>

</body>
</html>