<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discount Entry</title>
</head>
<body>
    <div class="header">Event Booking</div>
    
    <fieldset>
        <legend><b>DISCOUNT ENTRY</b></legend>
        <form method="post" action="../PHP/Discount_Entry.php" onsubmit="return validate()">
            <label for="promo">Enter Promo Code:</label><br>
            <input type="text" id="promo" name="promo"><br>
            <p id="promoerror"></p>

            <input type="button" value="Apply Code" onclick="validate()">
            <input type="button" value="Back"></a>
            
        </form>
    </fieldset>  

    <link rel="stylesheet" href="../CSS/Discount_Entry.css">
    <script src="../JS/Discount_Entry.js"></script>
</body>
</html>