<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Month/Week/Day Views</title>
</head>
<body>
    <body>
        <div class="header">Event Booking</div>

        <fieldset>
            <legend><b>EVENT CALENDAR - VIEW</b></legend>
            <form onsubmit="return validate()">
                <label for="view">Select View:</label><br>
                <select id="view" name="view">
                    <option value="">Select View</option>
                    <option value="month">Month</option>
                    <option value="week">Week</option>
                    <option value="day">Day</option>
                </select><br>
                <p id="viewerror"></p>
    
                <label for="date">Select Date:</label><br>
                <input type="date" id="date" name="date"><br>
                <p id="dateerror"></p>
    
                <input type="button" value="Browse Events" onclick="validate()">
                <input type="button" value="Back">

            </form>
        </fieldset>
    </body>
    
    <link rel="stylesheet" href="../CSS/M-W-D_Views.css">
    <script src="../JS/M-W-D_Views.js"></script>
</body>
</html>