<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Landing</title>
</head>
<body>
    <div class="header">Event Booking</div>
    
    <fieldset>
        <legend><b>WELCOME TO EVENT BOOKING</b></legend>
        <form>

            <img src="event-booking.jpg" id="event-booking">

            <div class="button-single">
                <a href="login.php"><input type="button" id="continue" value="Click to Continue"></a>
            </div>
            
            <div class="button">
                <a href="Features.html"><input type="button" value="Features"></a>
                <a href="Testimonials.html"><input type="button" value="Testimonials"></a>
            </div>
        </form>
    </fieldset>
    
    <link rel="stylesheet" href="../Asset/Main_Landing.css">
</body>
</html>
