<!DOCTYPE html>
<html>
<head>
  <title>Parking Map</title>
  <link rel="stylesheet" href="../CSS/parkingmap.css">
</head>
<body>
  <h2>Parking Map</h2>
  <img src="parkinglot.jpeg" alt="Parking Lot" usemap="#parkingmap" height="80%" width="80%">
  <map name="parkingmap">
    <area shape="rect" coords="34,44,270,350" alt="Zone A" href="#zoneA">
    <area shape="rect" coords="290,172,333,250" alt="Zone B" href="#zoneB">
    <area shape="circle" coords="337,300,44" alt="Zone C" href="#zoneC">
  </map>
</body>
</html>
