<!DOCTYPE html>
<html>
<head>
  <title>Priority Queue</title>
  <link rel="stylesheet" href="../CSS/priorityqueue.css">
</head>
<body>

  <h2>Current Waitlist</h2>
  <ol id="queue"></ol>

  <label for="queueName">Enter your name to check position:</label>
  <input type="text" id="queueName">
  <button onclick="checkPosition()">Check Position</button>
  
  <p id="positionResult"></p>

  <script src="../JS/priorityqueue.js"></script>

  <div class="nav-buttons">
  <button onclick="window.location.href='joinwaitlist.html'">Go to Join Waitlist</button>
  <button onclick="window.location.href='availabilityalerts.html'">Go to Availability Alerts</button>
</div>

</body>
</html>
