<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redemption Analytics</title>
</head>
<body>
    <div class="header">Event Booking</div>
    
    <fieldset>
        <legend><b>PROMO CODE ANALYTICS</b></legend>
        <form method="post" action="../PHP/Redemption_Analytics.php" onsubmit="return validate()">
            <label for="code">Enter Code to Track:</label><br>
            <input type="text" id="code" name="code"><br>
            <p id="codeerror"></p>

            <input type="submit" value="View Analytics">
            <a href="Code_Generator.html"><input type="button" value="Back"></a>
            
        </form>
    </fieldset>

    <link rel="stylesheet" href="../CSS/Redemption_Analytics.css">
    <script src="../JS/Redemption_Analytics.js"></script>
    
</body>
</html>