<!DOCTYPE html>
<html>
<head>
  <title>Signup</title>
  <link rel="stylesheet" href="../Asset/signup.css">
  <script src="../Asset/signup.js" defer></script>
</head>
<body>

  <div class="wrapper">
    <h1>Signup </h1>
    <p id="error-message" ></p>
    <form onsubmit="validate(event)">
       <div>
        <label for="username">
            <img src="person.png" height="24" width="24" alt="person icon">
        </label>
        <input type="text" name="username" id="username" placeholder="Username">
        <p id="usererror"></p>
       </div> 
    
  <div>
        <label for="fullname">
          <img src="person.png" height="24" width="24" alt="full name icon">
        </label>
  <input type="text" name="fullname" id="fullname" placeholder="Full Name">
  <p id="fullnameerror"></p>
</div>

<div>
  <label for="phone">
    <img src="phone.png" height="24" width="24" alt="phone icon">
  </label>
  <input type="tel" name="phone" id="phone" placeholder="Phone Number">
  <p id="phoneerror"></p>
</div>
<div>
        <label for="email">
            <span>
                @         
            </span>
        </label>
        <input type="email" name="email" id="email" placeholder="Email">
        <p id="emailerror"></p>
       </div> 
       <div>
        <label for="password">
            <img src="lock.png" height="24" width="24" alt="lock icon">
        </label>
        <input type="password" name="password" id="password" placeholder="Password">
        <p id="passerror"></p>
       </div> 
       <div>
        <label for="repeatpassword">
            <img src="lock.png" height="24" width="24" alt="lock icon">
        </label>
        <input type="password" name="repeatpassword" id="repeatpassword" placeholder="Repeat password">
        <p id="repeatpasserror"></p>
       </div> 
        <input type="submit" name="click" value ="Sign Up" >
       <p id="validerror"></p>
    </form>
    <p>Already have an Account?<a href="login.php">Login</a></p>
  </div>

  
</body>
</html>
