<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonials</title>
</head>
<body>
    <div class="header">Event Booking</div>
    
    <fieldset>
        <legend><b>USER TESTIMONIALS</b></legend>
         <form method="post" action="../Asset/Testimonials_.php" onsubmit="return validate()">

            <label for="user">User Name:</label><br>
            <input type="text" id="user" name="user"><br>
            <p id="usererror"></p>

            <label for="feedback">Feedback:</label><br>
            <input type="text" id="feedback" name="feedback"><br>
            <p id="feedbackerror"></p>

            <label for="rating">Rating (1-5):</label><br>
            <input type="number" id="rating" name="rating"><br>
            <p id="ratingerror"></p><Br>

            <input type="submit" name="submit" value="Submit Testimonial">
            <a href="Main_Landing.html"><input type="button" value="Back"></a>
            
        </form>
    </fieldset>
    
    <link rel="stylesheet" href="../Asset/Testimonials.css">
    <script src="../Asset/Testimonials.js"></script>
</body>
</html>
