<!DOCTYPE html>
<html>

<head>
  <title>Ticket Tiers</title>
  <link rel="stylesheet" href="../CSS/ttgrid.css">
  <script src="../JS/ttgrid.js" defer></script>
</head>

<body>
  <h2 class="title">Ticket Types</h2>

  <div class="container">
    <label for="ticketSelect"><b>Select Ticket Type:</b></label><br><br>
    <select id="ticketSelect" class="dropdown">
      <option value="">Choose</option>
      <option value="2500">Standard - ৳2500</option>
      <option value="4000">Premium - ৳4000</option>
      <option value="6000">VIP - ৳6000</option>
    </select>

    <div id="ticketInfo" class="info-box"></div>
  </div>
</body>

</html>
